---
layout: page
---	  
<article>



The {{ site.conference.name }} conference will take place in the {{site.conference.venue }} hotel, {{ site.conference.location }}.
From {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

{{ content }}

{% if site.map.show %}
{% include map.html %}
{% endif %}	  

<p>Points of Interest for the GPSS are shown in the map with <b>stars</b></p>
<p></p>
<p>The Summer School will take place at <b>Pam Liversidge Building, PLB-E05</b>, The University of Sheffield.</p>
